body {
	font-family: verdana, arial, sans-serif;
	background: #BBB;
	padding: 0;
	margin: 0;
}

#portalbar {
	background: #333;
	height: 3em;
}

#nav {
	background: 50% 50% no-repeat url(nav.png);
	background-size: contain;
	width: 1256px;
	max-width: 100%;
	margin: 2em auto 2em;
	font-size: 18px;
}

#nav #inner {
	height: 65px;
	line-height: 60px;
	width: 970px;
	max-width: 90%;
	margin: 0 auto;
}

#nav #inner .item {
	display: inline-block;
	margin-right: 1em;
	position: relative;
}

#nav #inner .item.home a {
	display: inline-block;
	background: 50% 50% no-repeat url(icon-home.png);
	text-indent: -999em;
	width: 26px;
}

#nav .submenu {
	position: absolute;
	left: 0;
	top: 50px;
	width: 200px;
	font-size: 12px;
	background: #999;
	line-height: 2em;
	box-shadow: 0 0 5px #000;
	display: none;
}

.sub-item {
	padding: 0 5px;
}

#nav .item:hover .submenu {
	display: block;
}

#main {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 970px;
	padding: 20px;
	margin: 0 auto 40px;
	border: 1px solid #AAA;
	border-radius: 7px;
	font-size: 12px;
	line-height: 1.5em;
	max-width: 90%;
	background: #FFF;
	overflow: auto;
}

h1, h2 {
	font-weight: normal;
}

h3 {
	margin-top: 2px;
}

button {
	font-size: 14px;
	color: white;
	background: black;
	border: 0;
	padding: 7px 10px;
}

#nav2 {
	background: #aaa;
	width: 25%;
	padding: 1em;
}

#nav2 ul, #nav2 li {
	list-style: none;
	margin: 0;
	padding: 0.2em;
}

#nav2 ul ul {
	margin-left: 1em;
}

#content {
	float: right;
	width: 69%;
}

#breadcrumb {
	margin-bottom: 10px;
}

@media screen and (max-width: 1100px) {
	#nav {
		font-size: 14px;
	}
}

@media screen and (max-width: 830px) {

	body {
		background: #FFF;
	}

	#nav {
		background: #AAA;
		overflow: auto;
		margin-bottom: 0;
	}

	#nav #inner {
		height: auto;
		line-height: 2em;
		max-width: 100%;
	}

	#nav #inner .item {
		width: 33%;
		margin: 0;
		text-align: center;
		float: left;
	}

	#nav .item:hover .submenu {
		display: none;
	}

	#nav #inner .item.home a {
		display: inline;
		background: none;
	}

	#nav2, #content {
		width: auto;
		float: none;
		max-width: 100%;
		margin: 0 auto;
	}

	#main {
		border: 0;
		max-width: 100%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 460px) {
	#nav #inner .item {
		width: 50%;
	}
}

.collapsible { /* Pakotetaan nää kaikki sisältään floatit */
	overflow: auto;
}

.collapsible .heading::before {
	content: url(slide_up.png);
	margin-right: 5px;
}

.collapsible.collapsed .heading::before {
	content: url(slide_down.png);
}

.collapsible.default-closed .content {
	display: none;
}

.collapsible.default-closed .heading::before {
	content: url(slide_down.png);
}

.collapsible.default-closed.collapsed .heading::before {
	content: url(slide_up.png);
}

@media screen and (max-width: 600px) {
	.collapsible .content {
		display: none;
	}

	.collapsible .heading::before {
		content: url(slide_down.png);
	}

	.collapsible.collapsed .heading::before {
		content: url(slide_up.png);
	}

	.filtered .collapsible .content {
		display: block;
	}

	.filtered .collapsible .heading::before {
		content: url(slide_up.png);
	}

	.filtered .collapsible.collapsed .heading::before {
		content: url(slide_down.png);
	}
}

/*** Ikonit ***/

.icon {
	display: inline-block;
	width: 23px;
	height: 23px;
	background: 0 0 no-repeat url(../images/icons/icons.png);
	line-height: 24px;
	text-align: center;
	font-size: 10px;
	overflow: hidden;
	text-align: center;
}

.icon-metsa {
	background-position: 0 0;
}

.icon-kolo {
	background-position: 0 -27px;
}

.icon-leiri {
	background-position: 0 -55px;
}

.icon-vene {
	background-position: 0 -83px;
}

.icon-ulkona {
	background-position: 0 -110px;
}

.icon-kaupunki {
	background-position: 0 -139px;
}

.icon-1h {
	background-position: -28px 0;
}

.icon-1tai2h {
	background-position: -28px -27px;
}

.icon-2h {
	background-position: -28px -55px;
}

.icon-ryhma {
	background-position: -28px -83px;
}

.icon-isoryhma {
	background-position: -28px -110px;
}

.icon-pakollinen {
	background-position: -57px 0;
}

.icon-vapaavalintainen {
	background-position: -57px -30px;
}

.icon-valmisteluaika {
	background-position: -57px -55px;
}

.icon-kesto {
	background-position: -57px -83px;
}

.icon-taso {
	background: #5e0f75;
	margin: 1px 0 0;
	height: 22px;
	width: 22px;
	border-radius: 100%;
	line-height: 21px;
	color: #FFF;
	font-size: 13px;
}

.icon-tarvikkeet {
	background: none;
	border: 1px solid black;
	width: 20px;
	height: 20px;
	border-radius: 100%;
}

input.filter {
	margin: 0 0 2em 0;
}

.hidden {
	display: none;
}

.su h1, .se h1, .ta h1, .sa h1, .va h1 {
	border-bottom: 7px solid #AAA;
	padding-bottom: 15px;
}

.su h1 {
	border-color: #f5ea2e;
}
.se h1 {
	border-color: rgb(212, 121, 30);
}
.ta h1 {
	border-color: #5e0f75;
}
.sa h1 {
	border-color: #33652e;
}
.va h1 {
	border-color: #6e470a;
}

/*********************** SPECIFIC STYLES ***********************/




/*** FRONT PAGE ***/

.box {
	border: 1px solid #AAA;
	border-radius: 7px;
	background: #FFF;
	text-align: center;
}

#slider, #findbox, #front-container {
	width: 970px;
	max-width: 90%;
	margin: 0 auto 40px;
	height: 250px;
	line-height: 250px;
}

#tapaht, #ajankoht {
	width: 47%;
	float: left;
}

#ajankoht {
	float: right;
}

#main.front {
	padding: 0;
	overflow: auto;
	text-align: center;
}

.front-partiokasvatus {
	padding: 7px;
	font-size: 20px;
	background: #253764;
}

.ikbox {
	width: 20%;
	float: left;
}

#main.front a {
	color: #FFF;
}

.ikbox.sudenpennut {
	background: #f5ea2e;
}
#main.front .ikbox.sudenpennut a {
	color: black;
}
.ikbox.seikkailijat {

	background: #D4791E;
}
.ikbox.tarpojat {
	background: #5e0f75;
}
.ikbox.samoajat {
	background: #33652e;
}
.ikbox.vaeltajat {
	background: #6e470a;
}

.ikbox .row a, .ikbox .row.empty {
	display: block;
	padding: 7px 0;
	border-top: 0px solid #FFF;
}

.ikbox .row.title a {
	font-size: 20px;
	border-top: 0;
}

.ikbox .image {
	height: 100px;
}

.ikbox img {
	max-height: 80px;
	margin-top: 15px;
}

@media screen and (max-width: 850px) {
	.ikbox {
		width: 33.33%;
	}
	.ikbox.samoajat, .ikbox.vaeltajat {
		width: 50%;
	}
}

@media screen and (max-width: 620px) {
	#tapaht, #ajankoht, #main {
		width: 100%;
		float: none;
		margin-bottom: 40px;
	}

	#slider {
		margin-top: 40px;
	}

	#main.front {
		max-width: 90%;
	}

	#front-container {
		height: auto;
		margin-bottom: 0;
	}

	#main .ikbox {
		width: 50%;
	}

	#main .ikbox.vaeltajat {
		width: 100%;
	}
}

@media screen and (max-width: 410px) {
	#main .ikbox {
		width: 100%;
	}
}
/***  AKTIVITEETTIHAKU ***/

#searchbar {
	width: 25%;
	float: left;
	background: #DDD;
	padding: 0 20px 20px;
	margin-left: -20px;
}

#searchresults {
	width: 69%;
	float: right;
}

.word-search {
	width: 98%;
	margin-bottom: 10px;
}

.toggle {
	background: 50% 100% no-repeat url(arrow_down.png);
	display: inline-block;
	width: 15px;
	height: 15px;
}

.collapsed .toggle {
	background: 50% 100% no-repeat url(arrow_right.png);
}

.su li li .toggle,
.se li .toggle,
.ta li .toggle,
.sa li li .toggle,
.va li .toggle
 {
	display: none;
}

#the-tree, .checkboxes {
	padding: 0;
}

.ui-slider-handle {
	background: #666;
	border-radius: 100%;
}

.ui-slider-range {
	background: #999;
}

.ui-slider {
	background: #CCC;
	margin: 0 10px;
}

.labels {
	text-align: center;
	padding: 5px 0;
}

.result h3 {
	margin: 9px 10px 9px 0;
	float: left;
}

.result .links {
	margin: 5px 0 0;
}

.result {
	padding-bottom: 1.5em;
	margin-bottom: 1.5em;
	border-bottom: 1px solid #AAA;
}

.result .icons {
	float: left;
	margin-top: 6px;
}

.result .name {
	overflow: auto;
}

/*** SUDENPENNUT FRONT PAGE ***/

.centered{
	text-align: center;
	margin-bottom: 15px;
}

.iknav {
	width: 200px;
	padding: 1em;
	float: right;
	margin: 15px;
	margin-right: 0px;
	margin-top: -3em;
	margin-bottom: 5px;
	margin-left: 5px;
	border-style: solid;
	border-width: 2px;
}

@media screen and (max-width: 600px) {
	.iknav {
		width: 87%;
		margin: 3px;
		float: left;
	}
}

.sudenpennutnav {
	border-color: #f5ea2e;
	background: #f9faa8;
}

#activities {
	
}

#activitiesleft {
	width: 49%;
	float: left;
}

#activitiesright {
	width: 49%;
	float: right;
	
}

@media screen and (max-width: 650px) {
	#activitiesleft {
		width: 100%;
	}
	#activitiesright {
		width: 100%;
		float: left;
	}
}

.firstheading {
	clear: both;
}

.activity {
	overflow: auto;
	width: 46%;
	float: left;
	min-height: 67px;
	position: relative;
	margin: 0 4% 2em 0;
}

.activity.full {
	width: 100%;
}

.activity.nopic {
	width: 100%;
	min-height: 50px;
	margin-left: -60px;
}

.activity.actsud:nth-child(odd){
	/*background: #f9faa8;*/
	clear: left;
}

.activity:nth-child(even){
	/*background: #fff;*/
}

.activity.first {
	/*border-top-width: 2px;*/
}

.leftpic {
	float: left;
}

.leftpic img {
	width: 50px;
	position: absolute;
	top: 5px;
	left: 0;
}

.activity h3, .activity p {
	margin: 0 0 0 60px;
}

.activity h3 {
	font-size: 1em;
	font-weight: bold;
	margin-bottom: 5px;
}

.jalkipic {
	float: left;
	width: 100px;
}

#ikcontent {
	width: 100%;
}

@media screen and (max-width: 550px) {
	.activity {
		width: 100%;
	}
}

/*** SAMOAJAT FRONT PAGE ***/

.samoajatnav {
	border-color: #33652e;
	background: #9BCF95;
}

/*** VAELTAJAT FRONT PAGE ***/

.vaeltajatnav {
	border-color: #6e470a;
	background: #b6a384;
}

/***PAUSSIT***/

.paussi {
	overflow: auto;
	width: 46%;
	float: left;
	position: relative;
	margin: 0 4% 2em 0;
}

.paussi h3, .paussi p {
	margin: 0;
}

.paussi h3 {
	font-size: 1em;
	font-weight: bold;
	margin-bottom: 5px;
}

.paussi:nth-child(odd) {
	clear: left;
}

@media screen and (max-width: 550px) {
	.paussi {
		width: 100%;
	}
}

/*** TAITOMERKIT ***/

.taitomerkit {
	margin: 2em 0 0 0;
	overflow: auto;
}

.taitomerkki {
	width: 46%;
	float: left;
	min-height: 67px;
	position: relative;
	margin: 0 4% 2em 0;
}

.taitomerkki:nth-child(odd) {
	clear: left;
}

.taitomerkki img {
	width: 50px;
	position: absolute;
	top: 5px;
	left: 0;
}

.taitomerkki h2, .taitomerkki p {
	margin: 0 0 0 70px;
}

.taitomerkki h2 {
	font-size: 1em;
	font-weight: bold;
	margin-bottom: 5px;
}

h2.cleared {
	clear: both;
	padding: 10px 0;
}

@media screen and (max-width: 550px) {
	.taitomerkki {
		width: 100%;
	}
}

/*** ACTIVITY GENERAL***/

#aktcontent {
	width: 65.9%;
	float: left;
	margin: 15px;
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.aktheading, .aktheading h1 {
	margin: 10px;
	margin-left: 0;
	margin-bottom: 1px;
	border-bottom: 0;
}

.aktheading h1, .tasoicon {
	display: inline-block;
}

.aktheading.main {
	border-bottom: 7px solid #5e0f75;
}


.aktheading, .aktheading h3 {
	margin: 0;
	margin-top: 3px;
}

.tasotext {
	display: inline-block;
	margin: 3px;
	margin-right: 15px; 
}

.tips {
	width: 65.9%;
	float: left;
	margin: 15px;
	margin-left: 0px;
	margin-top: 0px;
}

.tip {
	border: 1px;
	border-style: solid;
	border-color: #BBB;
	background: #F5F5F5;
	margin: 15px;
	padding: 1em;
	overflow: auto;
	clear: both;
}

.tipinfo {
	width: 19%;
	float: left;
	margin-left: 10px;
	margin-top: 15px;
}

.tipcontent {
	width: 75%;
	float: right;
	margin-right: 10px;
}

.aktbox {
	width: 24.9%;
	float: right;
	clear: right;
}

.aktbox.yla{
	padding: 1em;
	padding-bottom: 0em;
	border: 2px;
	border-bottom: 0px;
	border-style: solid;
}

.aktbox.ala{
	padding: 1em;
	padding-top: 0em;
	border: 2px;
	border-top: 0px;
	border-style: solid;
	overflow: auto;
}

.select {
	width: 95%;
}

.iconbox {
	margin-top: 5px;
}

.jalkibox {
	margin-left: 15px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.tipheading {
	float: left;
	width: 20%;
}

.jalkibox.tmerkki1 {
	float: left;
	width: 40%;
}

.jalkibox.tmerkki2 {
	float: right;
	width: 40%;
}

.jalkibox img {
	width: 50px;
	}


@media screen and (max-width: 700px) {
	.aktbox {
		width: auto;
		float: none;
	}

	.aktbox.ala {
		padding: 1em;
		border: 2px;
		border-style: solid;
		clear: both;
	}

	.aktbox.yla {
		padding: 1em;
		border: 2px;
		border-style: solid;
	}

	#aktcontent {
		width: auto;
		float: none;
		margin-top: 0px;
	}

	.tips {
		width: 100%;
	}

	.tipcontent {
		width: 60%;
	}

	.addtip {
		width: 100%;
		margin: 15px;
		margin-top: 0px;
	}

	.select {
		width: 40%;
	}

	.tipheading {
		float: left;
		width: 40%;
	}
}

@media screen and (max-width: 550px) {
	.select {
		width: 80%;
	}
}	

.descript {
	font-style: italic;
}

.subhead {
	font-weight:bold;
}


.tiplink {
	float: left;
	width: auto;
	margin-top: 17px;
}

.tiparea {
	width: 100%;
}

.tipsorter {
	float: left;
	margin-left: 15px;
	clear: both;
}

.thumbimage {
	float: left;
	margin-left: 25%;
	clear: both;
}

.thumbnumber {
	float: left;
	margin: 15px;
	margin-top: 7px;
	margin-bottom: 0px;
}

.addtip {
	width: 69.9%;
	float: left;
	margin: 15px;
}

/*** ACTIVITY SUDENPENTU***/

.aktbox.supebox{
	border-color: #f5ea2e;
	background: #f5f877;

}

/*** ACTIVITY SEIKKAILIJA***/

.aktbox.seikkailijabox.taito {
	padding: 1em;
	border: 2px;
	border-color: #D4791E;
	border-style: solid;
}

.aktbox.seikkailijabox {
	border-color: #D4791E;
	background: #e7a057;
}


/*** ACTIVITY TARPOJA***/

.aktbox.tarpojabox.pau {
	padding: 1em;
	border: 2px;
	border-color: #5e0f75;
	border-style: solid;
}

.aktbox.tarpojabox {
	border-color: #5e0f75;
	background: #be9fc7;
}

/*** ACTIVITIES TARPOJA ***/

.tasot {
	display: table;
}
.tasot-inner {
	display: table-row;
}
.taso {
	display: table-cell;
	padding: 10px;
	border-right: 10px solid #FFF;
}

.tarpoja-aktiviteetti h3 {
	margin-top: 20px;
}

.tarpoja-aktiviteetti h3 .icon {
	margin-bottom: -5px;
}

.taso {
	width: 22%;
	background: #CCC;
}

.taso .taso-left {
	float: left;
}

.taso-ikonit {
	margin: 7px 0 1px;
}

.taso-nimi {
	padding-top: 3px;
}

.taso-nimi, .taso-ikonit, .taso-kuvaus {
	display: block;
	margin-left: 30px;
}

@media screen and (max-width: 750px) {
	.tasot, .tasot-inner, .taso {
		display: block;
		width: auto;
		margin-bottom: 10px;
	}
}	

/*** ACTIVITY SAMOAJA***/

.aktbox.samoajabox {
	border-color: #33652e;
	background: #9BCF95;
}

/***  ACTIVITIES VAELTAJA ***/

.vaeltaja-aihealueet {
	width: 33%;
	float: left;
}

.vaeltaja-aihealueet a {
	display: block;
	padding: 5px 0;
}

#vaeltajat-kaikki {
	overflow: auto;
	margin: 2em 0 1.5em;
}

@media screen and (max-width: 830px) {
	.vaeltaja-aihealueet {
		width: auto;
		float: none;
	}
}

/*** ACTIVITY VAELTAJA***/

.aktbox.vaeltajabox {
	border-color: #6e470a;
	background: #b6a384;
}
