body {
	font-family: verdana, arial, sans-serif;
	background: #BBB;
	padding: 0;
	margin: 0;
}

#portalbar {
	background: #333;
	height: 3em;
}

#nav {
	background: 50% 50% no-repeat url(nav.png);
	background-size: contain;
	width: 1256px;
	max-width: 100%;
	margin: 2em auto 2em;
	font-size: 18px;
}

#nav #inner {
	height: 65px;
	line-height: 60px;
	width: 970px;
	max-width: 90%;
	margin: 0 auto;
}

#nav #inner .item {
	display: inline-block;
	margin-right: 1.2em;
	position: relative;
}

#nav .submenu {
	position: absolute;
	left: 0;
	top: 50px;
	width: 200px;
	font-size: 12px;
	background: #999;
	line-height: 2em;
	box-shadow: 0 0 5px #000;
	display: none;
}

.sub-item {
	padding: 0 5px;
}

#nav .item:hover .submenu {
	display: block;
}

#main {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 970px;
	padding: 20px;
	margin: 0 auto 40px;
	border: 1px solid #AAA;
	border-radius: 7px;
	font-size: 12px;
	line-height: 1.5em;
	max-width: 90%;
	background: #FFF;
	overflow: auto;
}

h1, h2 {
	font-weight: normal;
}

h3 {
	margin-top: 2px;
}

button {
	font-size: 14px;
	color: white;
	background: black;
	border: 0;
	padding: 7px 10px;
}

#nav2 {
	background: #aaa;
	width: 25%;
	padding: 1em;
}

#nav2 ul, #nav2 li {
	list-style: none;
	margin: 0;
	padding: 0.2em;
}

#content {
	float: right;
	width: 69%;
}

#breadcrumb {
	margin-bottom: 10px;
}

@media screen and (max-width: 1100px) {
	#nav {
		font-size: 14px;
	}
}

@media screen and (max-width: 830px) {

	#nav {
		background: #AAA;
		overflow: auto;
	}

	#nav #inner {
		height: auto;
		line-height: 2em;
		max-width: 100%;
	}

	#nav #inner .item {
		width: 33%;
		margin: 0;
		text-align: center;
		float: left;
	}

	#nav .item:hover .submenu {
		display: none;
	}

	#nav2, #content {
		width: auto;
		float: none;
	}
}

@media screen and (max-width: 460px) {
	#nav #inner .item {
		width: 50%;
	}
}

@media screen and (max-width: 400px) {
	#main {
		width: auto;
		max-width: auto;
		border: 0;
		margin: 0 auto;
	}
}

.collapsible { /* Pakotetaan nää kaikki sisältään floatit */
	overflow: auto;
}

.collapsible .heading::before {
	content: url(slide_up.png);
	margin-right: 5px;
}

.collapsible.collapsed .heading::before {
	content: url(slide_down.png);
}

.collapsible.default-closed .content {
	display: none;
}

.collapsible.default-closed .heading::before {
	content: url(slide_down.png);
}

.collapsible.default-closed.collapsed .heading::before {
	content: url(slide_up.png);
}

@media screen and (max-width: 830px) {
	.collapsible .content {
		display: none;
	}

	.collapsible .heading::before {
		content: url(slide_down.png);
	}

	.collapsible.collapsed .heading::before {
		content: url(slide_up.png);
	}
}

/*********************** SPECIFIC STYLES ***********************/




/*** FRONT PAGE ***/

.box {
	border: 1px solid #AAA;
	border-radius: 7px;
	background: #FFF;
	text-align: center;
}

#slider, #findbox, #front-container {
	width: 970px;
	max-width: 90%;
	margin: 0 auto 40px;
	height: 250px;
	line-height: 250px;
}

#tapaht, #ajankoht {
	width: 47%;
	float: left;
}

#ajankoht {
	float: right;
}

#main.front {
	padding: 0;
	overflow: auto;
	text-align: center;
}

.front-partiokasvatus {
	padding: 7px;
	font-size: 20px;
	background: #253764;
}

.ikbox {
	width: 20%;
	float: left;
}

#main.front a {
	color: #FFF;
}

.ikbox.sudenpennut {
	background: #f5ea2e;
}
#main.front .ikbox.sudenpennut a {
	color: black;
}
.ikbox.seikkailijat {

	background: #D4791E;
}
.ikbox.tarpojat {
	background: #5e0f75;
}
.ikbox.samoajat {
	background: #33652e;
}
.ikbox.vaeltajat {
	background: #6e470a;
}

.ikbox .row a, .ikbox .row.empty {
	display: block;
	padding: 7px 0;
	border-top: 0px solid #FFF;
}

.ikbox .row.title a {
	font-size: 20px;
	border-top: 0;
}

.ikbox .image {
	height: 100px;
}

.ikbox img {
	max-height: 80px;
	margin-top: 15px;
}

@media screen and (max-width: 850px) {
	.ikbox {
		width: 33.33%;
	}
	.ikbox.samoajat, .ikbox.vaeltajat {
		width: 50%;
	}
}

@media screen and (max-width: 620px) {
	#tapaht, #ajankoht, #main {
		width: 100%;
		float: none;
		margin-bottom: 40px;
	}

	#front-container {
		height: auto;
		margin-bottom: 0;
	}

	#main .ikbox {
		width: 50%;
	}

	#main .ikbox.vaeltajat {
		width: 100%;
	}
}

@media screen and (max-width: 410px) {
	#main .ikbox {
		width: 100%;
	}
}
/***  AKTIVITEETTIHAKU ***/

#searchbar {
	width: 25%;
	float: left;
	background: #DDD;
	padding: 0 20px 20px;
	margin-left: -20px;
}

#searchresults {
	width: 69%;
	float: right;
}

.word-search {
	width: 98%;
	margin-bottom: 10px;
}

.toggle {
	background: 50% 100% no-repeat url(arrow_down.png);
	display: inline-block;
	width: 15px;
	height: 15px;
}

.collapsed .toggle {
	background: 50% 100% no-repeat url(arrow_right.png);
}

.su li li .toggle,
.se li .toggle,
.ta li .toggle,
.sa li li .toggle,
.va li .toggle
 {
	display: none;
}

#the-tree, .checkboxes {
	padding: 0;
}

.ui-slider-handle {
	background: #666;
	border-radius: 100%;
}

.ui-slider-range {
	background: #999;
}

.ui-slider {
	background: #CCC;
	margin: 0 10px;
}

.labels {
	text-align: center;
	padding: 5px 0;
}

/*** SUDENPENNUT FRONT PAGE ***/

.centered{
	text-align: center;
	margin-bottom: 15px;
}

.iknav {
	width: 200px;
	padding: 1em;
	float: right;
	margin: 15px;
	margin-right: 0px;
	margin-top: -3em;
	margin-bottom: 3px;
	margin-left: 3px;
}

.sudenpennutnav {
	border-style: solid;
	border-width: 15px;
	border-color: #f5ea2e;
	background: #f9faa8;
}

#activities {
	width: 100%;
}

#activitiesleft {
	width: 49%;
	float: left;
}

#activitiesright {
	width: 49%;
	float: right;
}

@media screen and (max-width: 900px) {
	#activitiesleft {
		width: 100%;
	}
	
	#activitiesright {
		width: 100%;
		float: left;
	}
}

.firstheading {
	clear: both;
}

.activity {
	border-color: #BBB;
	border-style: solid;
	border-width: 2px;
	border-top-width: 0px;
	padding: 4px;
	overflow: auto;
}

.activity.actsud:nth-child(odd)
{
background: #f9faa8;
}

.activity:nth-child(even)
{
background: #fff;
}

.activity.first {
	border-top-width: 2px;
}

.leftpic {
	width: 100px;
	float: left;
}

#ikcontent {
	width: 100%;
}

/*** ACTIVITY GENERAL***/

#aktcontent {
	width: 69.9%;
	float: left;
	margin: 15px;
	margin-left: 0px;
}

.tips {
	width: 69.9%;
	float: left;
	margin: 15px;
	margin-left: 0px;
}

.tip {
	border: 1px;
	border-style: solid;
	border-color: #BBB;
	background: #F5F5F5;
	margin: 15px;
	padding: 1em;
	overflow: auto;
}

.tipinfo {
	width: 19%%;
	float: left;
	margin-left: 10px;
}

.tipcontent {
	width: 75%%;
	float: right;
	margin-right: 10px;
}

.aktbox {
	width: 24.9%;
	float: right;
}

.aktbox.yla{
	padding: 1em;
	padding-bottom: 0em;
	border: 2px;
	border-bottom: 0px;
	border-style: solid;
}

.aktbox.ala{
	padding: 1em;
	padding-top: 0em;
	border: 2px;
	border-top: 0px;
	border-style: solid;
}

@media screen and (max-width: 1010px) {
	.aktbox {
		width: 20%;
	}
}

@media screen and (max-width: 620px) {
	.aktbox {
		width: auto;
		float: none;
	}

	.aktbox.ala {
		padding: 1em;
		border: 2px;
	}

	.aktbox.yla {
		padding: 1em;
		border: 2px;
	}

	#aktcontent {
		width: auto;
		float: none;
	}
}



/*** ACTIVITY SUDENPENTU***/

.aktbox.supebox{
	border-color: #f5ea2e;
	background: #f5f877;

}

